@import url('https://fonts.googleapis.com/css?family=Inknut+Antiqua');
/* this is a comment */
/* CSS Sytax review

selector {property:value;
          property:value;
}

Type selector */

p {
  font-size: 1em; /* px, pt, 100%, 1em (each em often similar to 16 px) */
  line-height: 1.5em;
}

figcaption {
  /*font-weight: normal;
  font-size: 0.75em;
  line-height: 1.5em;
  font-family: Georgia, "New Times Roman", serif;
  font-family: 'Inknut Antiqua', serif;
  */
  font: normal 0.75em/1.5em "Inknut Antiqua", serif;
  color: #777;
  text-align: right;
}

/* class selector, can apply to many different elements */
.milk-text { /*select elements with class="milk-text"}*/
  font: bold 2.6em "Inknut Antiqua", serif;
  color: white
  text-shadow: 0 2px 3 px #000;

/* ID selector (apply to one unique element per page)*/

#logo {
/* select element with ID="logo"*/
  background = "aqua"
}

#logo h1 { /*only style h1 if inside the id logo element}*/
  font-family: "Inknut Antiqua", serif;
}

/*psudo class selectors
select element based on event state or relationship with other elements
*/
/* this is a compound selector that is also psudo class*/
#details a:link, #details a:visited {
  color: black
  text-decoration: none;
}

#details a:hover{
  color:black
  text-decoration: underline
}

#details a:active{
  color:red
  text-decoration: underline
}
